@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.myname {
  border: 2px solid red;
}
.header-content {
  text-align: center;
  padding: 80px 0;
}

header {
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
  color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.about,
.course-details {
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.about h2,
.course-details h2 {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}

.about p,
.course-details p,
footer p {
  color: #555;
  line-height: 1.6;
}

.course-details {
  text-align: center;
}

.course-topic {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
}

.topic {
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.topic:hover {
  transform: translateY(-5px);
}

.topic img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.topic h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.topic p {
  color: #777;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.topic a {
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.topic a:hover {
  background-color: #2980b9;
}

footer {
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  flex: 1;
  margin-right: 20px;
  animation: fadeInLeft 1s ease-in-out;
}

.about-img img {
  max-width: 100%;
  border-radius: 10%;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.about-text {
  flex: 2;
  animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 350px) and (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-img {
    margin-right: 0;
    margin-bottom: 20px;
    width: 70%;
  }
  .about-text {
    padding: 20px;
  }
  .about-text h2 {
    font-size: 30px;
    color: red;
  }
  .about-text h5 {
    color: gray;
    font-weight: 700;
  }
  .course-topic {
    display: flex;
    flex-direction: column;
  }
  .topic {
    width: 80%;
    margin-left: 20px;
  }
}
